@mixin square($size) {
    width: $size;
    height: $size;
}

.loader {
    --border-color: currentColor;
    border-radius: 50%;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-left: 2px solid transparent;
    animation: spin 1s infinite linear;

    &_size {
        &-s {
            @include square(10px);
        }

        &-m {
            @include square(30px);
        }

        &-l {
            @include square(50px);
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
