@mixin buttonType($background, $border) {
    border: 1px solid $border;
    background: $background;
}

.button {
    font-family: sans-serif;
    height: 40px;
    min-width: 60px;
    padding: 0 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #ffffff;
    width: fit-content;

    &_type-primary {
        @include buttonType(#FF931F, #F57E00);
    }

    &_type-secondary {
        @include buttonType(#bbb, #999);
    }
}